{% extends 'home/base.html' %}
{% block title %}Matches | Fantasy IPL{% endblock %}


{% block body %}


    <br><br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for match in matches.match %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                    <strong>{{ match.match_name }}</strong>
                </a>

                <div class="pull-right">
                    {% if match.team1_score > match.team2_score %}
                        {{ match.team1_name }} won
                    {% endif %}
                    {% if match.team1_score < match.team2_score %}
                        {{ match.team2_name }} won
                    {% endif %}
                </div>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                <div class="panel-body">
                    <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Pid</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Runs Scored</th>
                        <th>Overs</th>
                        <th>Runs Given</th>
                        <th>Maiden</th>
                        <th>Wickets</th>
                        <th>Catch/Stumping/Run Out</th>
                        <th>Others</th>
                        <th><strong>Points</strong></th>
                    </tr>
                    {% for player,values in match.players.items %}
                        <tr {% if values.pid == '-1' %}
                            class="warning"
                        {% endif %}>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ player }}</td>
                            <td>{% for p in all_players %}
                                {% if p.Pid == player %}
                                    {{ p.Name }}
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td>{% for p in all_players %}
                                {% if p.Pid == player %}
                                    {% for owner in all_owners %}
                                        {% if p.Team_name == owner.Team_name %}
                                            {{ owner.Name }}
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                            {% endfor %}
                            </td>
                            <td>{{ values.runs_scored }}</td>
                            <td>{{ values.overs }}</td>
                            <td>{{ values.runs_given }}</td>
                            <td>{{ values.maiden }}</td>
                            <td>{{ values.wickets }}</td>
                            <td>{{ values.CROST }}</td>
                            <td>{{ values.extras }}</td>
                            <td><strong>{{ values.points }}</strong></td>
                        </tr>
                    {% endfor %}
                    </table>

                </div>
            </div>
        </div>
        <br><br>

    {% endfor %}
    </div>



{% endblock %}